@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Cherry+Bomb+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-contain bg-top bg-repeat min-h-screen;
    background-image: url('/images/background.png');

    font-family: 'Noto Sans KR', system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
  }
}
